{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}


{% block landing %}
    <section class="hero is-dark is-medium" style="
            background-image:
            url('{% for media in event.media %}{% if media.type.name == 'landingEvent' %}{{ asset('images/events/landing/' ~ media.imgUrl) }}{% endif %} {% else %} https://via.placeholder.com/1024x768{% endfor %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            ">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1">{{ event.name }}</h1>

                <h2>{{ event.date|date("d/m/Y") }}</h2>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}

    <h2 class="title">{{ event.name }}</h2>

    <div class="content columns is-multiline">
        <div class="column is-12 is-7-desktop">
            {{ event.description }}
            <p>Date : {{ event.date|date('d/m/Y')}}</p>
            <p>Address : {{ event.address }}, {{ event.postal }} {{ event.city }}</p>
            <p>Price : {{ event.price }}€</p>
            {% if app.user %}
                {% if (event.date|date("d/m/Y") == "now"|date("d/m/Y")) or event.date|date("U") > "now"|date("U") %}
                    {% include 'event/_form_book.html.twig' %}
                {% endif %}
            {% endif %}
        </div>
        {% for media in event.media %}
            {% if media.type.name == 'landingEvent' %}
                <img src="{{ asset('images/events/desc/' ~ media.imgUrl) }}" class="image column is-12 is-5-desktop" alt="description event">
            {% endif %}
        {% else %}
            <img src="https://via.placeholder.com/800x600" class="image column is-12 is-5-desktop" alt="description event">
        {% endfor %}
    </div>

{% endblock %}
