{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Admin Events List{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.price }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.city }}</td>
                <td>{{ event.postal }}</td>
                <td>
                    <a href="{{ path('admin_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('admin_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_event_new') }}">Create new</a>
{% endblock %}
