<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{{ path('home_index') }}" class="navbar-item router-link-exact-active router-link-active">
            <img src="{{ asset('images/company/' ~ companyGlobal.logo.imgUrl) }}" alt="">
        </a>
        <div class="navbar-burger burger" target="navbarObjects">
            <span></span><span></span><span></span>
        </div>
    </div>

    <div id="navbarObjects" class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ path('home_index') }}" class="navbar-item">Home</a>
            {% if app.user %}
                <a href="{{ path('admin_index') }}" class="navbar-item">Admin</a>
            {% endif %}
            <a href="{{ path('event_index') }}" class="navbar-item"><span>Events</span></a>
            <a href="{{ path('contact_index') }}" class="navbar-item">Contact</a>
        </div>
        <div class="navbar-end">
            {% if app.user %}
                <a href="{{ path('cart_index') }}" class="navbar-item">Cart</a>
                <a href="{{ path('booking_index') }}" class="navbar-item">Booking</a>
                <a href="{{ path('app_logout') }}" class="navbar-item">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="navbar-item">Login</a>
                <a href="{{ path('app_sign_up') }}" class="navbar-item">Sign up</a>
            {% endif %}

        </div>
    </div>
</nav>